<input type="checkbox" id="check">
<label for="check" class="toggle-label" aria-label="Toggle menu">
  <i class="fas fa-bars" id="btn"></i>
  <!--<i class="fas fa-times" id="cancel"></i>-->
</label>

<div class="sidebar">
  <header>OnBudget</header>
  <ul>
    <li><a href="/profile"><i class="fas fa-user"></i> Profile</a></li>
    <li><a href="/insights"><i class="fas fa-chart-line"></i> Insights</a></li>
    <li><a href="addexpense"><i class="fas fa-plus-circle"></i> Add Expense</a></li>

   <!-- <li><a href="#"><i class="fas fa-money-bill-wave"></i> Expenses</a></li>-->
    <li><a href="/scanreceipt"><i class="fas fa-receipt"></i> Scan Receipts</a></li>
    <li><a href="#"><i class="fas fa-bullseye"></i> Financial Goals</a></li>
    <li><a href="#"><i class="fas fa-calendar"></i> Calendar</a></li>
  </ul>
  <div id="signout-btn" class="signout-btn">
    <a href="#"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
  </div>
</div>

<router-outlet></router-outlet>
