* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}

.sidebar {
    position: fixed;
    left: 0;

    width: 250px;
    height: 100%;
   /*background-color:  #092b19;*/
  background-color:rgb(14, 14, 62);
  background-color: rgb(1, 46, 61);
  background-color: whitesmoke;
    transition: all 0.5s;
}

.sidebar header {
    padding-top: 80px;
    color: rgb(32, 121, 101);
    font-size: 35px;
    text-align: left;
    padding-left: 40px;
    line-height: 45px;
    font-weight: bold;
}

.sidebar ul a {
    display: block;
    width: 100%;
    line-height: 50px;
    font-size: 20px;
    color: rgb(35, 61, 56);
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.4s;
}

ul li:hover a {
    padding-left: 50px;
    font-weight: 800;
}

.sidebar ul a i {
    margin-right: 16px;
}

.signout-btn {
    padding-left: 40px;
    font-size: 1rem;
    color:  rgb(35, 61, 56);
}

ul li:hover i {
    color: rgb(32, 121, 101);

}


#check {
    display: none;
}
/*
label #btn,
label #cancel {
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
}*/

label #btn {
    left: 20px;
    top: 18px;
    font-size: 23px;
    padding: 6px 12px;
    transition: all 0.5s;
    color: grey;
    z-index: 1111;
}
/*
label #cancel {
    left: -195px;
    top: 17px;
    font-size: 25px;
    padding: 4px 9px;
    color: grey;
}*/

#check:checked ~ .sidebar {
    left: 0px;
}

#check:checked ~ label #btn {
    position: fixed;
    
    
}
/* Styling for sign-out button */
.signout-btn {
    /*position: absolute;*/
    bottom: 20px;
    left: -50px;
    width: 100%; 
    padding: 10px;
    font-size: 1rem;
    color:rgb(35, 61, 56);
    background-color:transparent; 
    text-align: left; 
    padding-top: 20px;
    padding-left: 20px;

    cursor: pointer; 
    
}
.signout-btn:hover{
    color: rgb(32, 121, 101);
}


/*
#check:checked ~ label #cancel {
    left: 195px;
}
    */

@media (max-width: 768px) {
    .sidebar {
        width: 180px;
        left: -250px;
        
    }
    .sidebar header {
        font-size: 30px;
        padding-left: 20px;
    }
    
    
    .sidebar a ul i{
        font-size: 10px;
        padding-left: 10px;


     }
     
     
    #check:checked ~ .sidebar {
        left: 0px;
    }

    label #btn {
        display: flex;
        font-size: medium;
        
        
    }
    #check:checked ~ #btn{
        position: fixed;
    
    }
    .sidebar ul a {
        line-height: 40px;
    }
}

@media (min-width: 769px) {
    .sidebar {
        left: 0;
    }
    label #btn{
        position: fixed;
        
    }
    #check:checked ~ .sidebar {
        left: -250px;

    }
/*
    label #btn {
        display: none;
    }*/
}
