.container {
    position: absolute; /* or relative, depending on context */
    left: 260px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    
    border-radius: 10px;
    background-color: #f0f0f0; /* Example background color */
    padding: 20px; /* Optional, adjust as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional, for depth */
}

@media (max-width: 768px) {
    .container{
        left: 200px;
    }
}

  
body {
    font-family: Arial, sans-serif;
    margin: 0;
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  
  @media (min-width: 768px) {  
    .form-group {
      display : flex ;
      align-items: center; 
      justify-content: space-between; 
    }

    label {
      margin-right: 10px;
      width: 120px; 
      float : left ;
    }
  }

  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    padding-left: 70px;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"]
  select {
    width: 60%;
    padding: 10px;
    border: 1px solid #f8f1f1;
    border-radius: 17px;
    box-sizing: border-box;
    height: 50px;

  }

  input[type="text"],
  input[type="email"],
  input[type="number"] {
    font-size: 16px;
  }

  

  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    float: right;
  }

  button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  
