<app-header></app-header>
<body>
    

<section class="descrip">
    <div>
        <h2>Unlock Your <br>
             Financial Potential</h2>
            <p>"  Discover financial freedom with our intuitive expense <br> tracker. 
                 Gain personalized insights, manage your budget <br>effectively,
                  and set achievable goals. "<br>
                  <br>
            </p>
            <a href="/signup"><button class="btn">Get Started</button></a>
        
    </div>
</section>

</body>
<section class="about">
   

</section>
